---
import '../styles/global.css';
import Header from '../components/header.astro';
import Navbar from '../components/navbar.astro';
import About from "../components/About.astro";
import Layout from "../layouts/Layout.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Pranav Dronavalli's Portfolio Website">
		<meta property="og:title" content="Pranav's Portfolio">
		<meta property="og:description" content="Pranav Dronavalli's Portfolio Website">
		<meta property="og:image" content="/newWebsite.jpg">
		<meta property="og:url" content="https://dronavalli.dev">
		<meta name="twitter:card" content="My website">
		<meta name="twitter:title" content="Pranav's Portfolio">
		<meta name="twitter:description" content="Pranav Dronavalli's Portfolio Website">
		<meta name="twitter:image" content="/newWesbite.jpg">
		<script type="application/ld+json">
			{
			  "@context": "https://schema.org/",
			  "@type": "Person",
			  "name": "Pranav Dronavalli",
			  "url": "https://www.dronavalli.dev/",
			  "image": "https://www.dronavalli.dev/public/IMG_0199.jpg",
			  "sameAs": [
				"https://www.linkedin.com/in/pranavdronavalli/",
				"https://github.com/dronavallipranav",
				"https://www.dronavalli.dev/"
			  ],
			  "jobTitle": "Software Engineer Intern",
			  "worksFor": {
				"@type": "Organization",
				"name": "Entegral"
			  }  
			}
			</script>
		<title>Pranav Dronavalli</title>
	</head>
<body class = "bg-gray-50">
	<Navbar></Navbar>
	<Header></Header>
		<About></About>
</body>
</html>
