---
import "../styles/global.css"
---

<header class="mobile-header bg-gray-100 h-14 fixed top-0 left-0 w-full z-10 flex items-center justify-between lg:hidden">

    <button class="hamburger p-4 focus:outline-none z-40" aria-label="Menu">
      <span class="block w-6 h-0.5 bg-black mb-1.5"></span>
      <span class="block w-6 h-0.5 bg-black mb-1.5"></span>
      <span class="block w-6 h-0.5 bg-black"></span>
    </button>

    <h1 class="font-bold text-xl">Pranav Dronavalli</h1>

    <div class="w-20"></div>
</header>
