---
import Header from '../components/header.astro';
import Navbar from '../components/navbar.astro';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog</title>
	</head>
	<body class="justify-center h-screen bg-gray-50">
		<Header></Header>
		<Navbar></Navbar>
        <div class="mx-auto prose pb-20 text-lg lg:ml-[30%] leading-relaxed md:w-[60%] flex flex-col items-start pt-3 space-y-3">
    <slot></slot>
        </div>
	</body>
</html>
