---
import Header from '../components/header.astro';
import Navbar from '../components/navbar.astro';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog</title>
		<meta name="description" content="Pranav Dronavalli's Portfolio Website">
		<meta property="og:title" content="Pranav's Portfolio">
		<meta property="og:description" content="Pranav Dronavalli's Portfolio Website">
		<meta property="og:image" content="/newWebsite.jpg">
		<meta property="og:url" content="https://dronavalli.dev">
		<meta name="twitter:card" content="My website">
		<meta name="twitter:title" content="Pranav's Portfolio">
		<meta name="twitter:description" content="Pranav Dronavalli's Portfolio Website">
		<meta name="twitter:image" content="/newWesbite.jpg">
		<script type="application/ld+json">
			{
			  "@context": "https://schema.org/",
			  "@type": "Person",
			  "name": "Pranav Dronavalli",
			  "url": "https://www.dronavalli.dev/",
			  "image": "https://www.dronavalli.dev/public/IMG_0199.jpg",
			  "sameAs": [
				"https://www.linkedin.com/in/pranavdronavalli/",
				"https://github.com/dronavallipranav",
				"https://www.dronavalli.dev/"
			  ],
			  "jobTitle": "Software Engineer Intern",
			  "worksFor": {
				"@type": "Organization",
				"name": "Entegral"
			  }  
			}
		</script>
	</head>
	<body class="justify-center h-screen bg-gray-50">
		<Header></Header>
		<Navbar></Navbar>
        <div class="mx-auto prose pb-20 text-lg lg:ml-[30%] leading-relaxed md:w-[60%] flex flex-col items-start pt-3 space-y-3">
    <slot></slot>
        </div>
	</body>
</html>
