---
import Navbar from '../components/navbar.astro';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<Navbar></Navbar>
	<body class="flex items-start justify-center h-screen md:w-[61%] bg-gray-50 ml-64 pt-10">
        <div class="mx-auto prose pb-20">
    <slot></slot>
        </div>
	</body>
</html>
